html {
  font-family: sans-serif;
}
.closed {
  display: none;
}
.video-image {
  cursor: pointer;
}
@media (orientation: landscape) {
  .video-container {
    width: 50%;
  }
}
@media (orientation: portrait) {
  .video-container {
    width: 50%;
  }
}
::selection {
  background-color: pink;
  color: white;
}
