html {
  font-family: sans-serif;
}
.closed {
  display: none;
}
.video-image {
  cursor: pointer;
}
@media (orientation: landscape) {
  .video-container {
    width: 50%;
    display: inline-block;
  }
}
@media (orientation: portrait) {
  .video-container {
    width: 100%;
  }
}
::selection {
  background-color: #b98d94;
  color: white;
}
a:link {
  color: #b98d94;
}
a:visited {
  color: pink;
}
body {
  margin: 0;
}
