@import 'modal.css';
html {
  font-family: 'Segoe UI Variable', sans-serif;
  font-variation-settings: 'opsz' 12;
  --theme-color: #0373fc;
  --theme-color-visited: #039dfc;
  --theme-color-hover: #039dfa;
  --theme-color-disabled: #cfcfcf;
  --theme-color-disabled-text: #737373;
  --background: white;
  --foreground: black;
  color: var(--foreground);
  background-color: var(--background);
}
.closed {
  display: none;
}
.video-image {
  cursor: pointer;
}
.video-container {
  width: 100%;
}
::selection {
  background-color: var(--theme-color);
  color: white;
}
a:link {
  color: var(--theme-color);
}
a:visited {
  color: var(--theme-color-visited);
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait){

/* Regular CSS rules here*/
html {
  zoom: 125%;  
}
}
img {
  width: 100%;
}

@font-face {
  font-weight: 300 700;
  font-variation-settings: "wght" 300, 700 "opsz" 5 36;
  font-style: normal;
  font-family: 'Segoe UI Variable';
  src: url('SegUIVar.ttf') format('truetype-variations');
}
pre, code {
  background-color: #F0000000;
  font-size: 16px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
button {
  font-family: 'Segoe UI Variable', sans-serif;
  font-variation-settings: 'opsz' 12;
  padding: 10px 16px;
  background-color: var(--theme-color);
  color: white;
  border: none;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
}
div.gui-container {
  width: 75%;
}
header {
  width: 100%;
  height: fit-content;
}
.header-container a {
  padding: 16px;
}
.header-container {
  padding: 8px;
  width: 100%;
}
.header_logo {
  display: inline-block;
  height: 100%;
  aspect-ratio: 3840 / 903;
  background-image: url(https://static.rootupapps.com/rootupapps.png);
}
button:hover {
  background-color: var(--theme-color-hover);
}
button:active {
  background-color: white;
  color: var(--theme-color);
}
button:disabled {
  background-color: var(--theme-color-disabled);
  color: var(--theme-color-disabled-text);
}
@media (prefers-color-scheme: dark) {
  html {
    --theme-color: #1494fd;
    --theme-color-visited: #149efd;
    --theme-color-hover: #149efb;
    --theme-color-disabled: #303030;
    --theme-color-disabled-text: #8C8C8C;
    --background: black;
    --foreground: white;
    color-scheme: dark;
  }
  .header_logo {
    background-image: url(https://static.rootupapps.com/rootupapps-dark.png);
  }
}
