html {
  font-family: sans-serif;
}
.closed {
  display: none;
}
@media (orientation: landscape) {
  .video-container {
    width: 50%;
  }
}
@media (orientation: portrait)
  .video-container {
    width: 50%;
  }
}
