html {
  font-family: 'Segoe UI Variable', sans-serif;
  font-variation-settings: 'opsz' 12;
}
.closed {
  display: none;
}
.video-image {
  cursor: pointer;
}
@media (orientation: landscape) {
  .video-container {
    width: 50%;
    display: inline-block;
  }
}
@media (orientation: portrait) {
  .video-container {
    width: 100%;
  }
}
::selection {
  background-color: #b98d94;
  color: white;
}
a:link {
  color: #b98d94;
}
a:visited {
  color: pink;
}
body {
  margin: 0;
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait){

/* Regular CSS rules here*/
html {
  zoom: 125%;  
}
}
/*@media only screen and (hover: none) and (pointer: coarse){
img {
  width: 100%;
}
}*/
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #AAAAAAAA;
}
.modal-body {
  padding: 32px;
  border-radius: 6px;
  background-color: white;
}
@font-face {
  font-variation-settings: 'weight' 300 700 'opsz' 5 36;
  font-style: normal;
  font-family: 'Segoe UI Variable';
  src: url('SegUIVar.ttf') format('truetype-variations');
}
b {
  font-weight: normal;
  font-variation-settings: 'weight' 700 'opsz' 12;
}
