html {
  font-family: 'Segoe UI', sans-serif;
}
.closed {
  display: none;
}
.video-image {
  cursor: pointer;
}
@media (orientation: landscape) {
  .video-container {
    width: 50%;
    display: inline-block;
  }
}
@media (orientation: portrait) {
  .video-container {
    width: 100%;
  }
}
::selection {
  background-color: #b98d94;
  color: white;
}
a:link {
  color: #b98d94;
}
a:visited {
  color: pink;
}
body {
  margin: 0;
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait){

/* Regular CSS rules here*/
html {
  zoom: 125%;  
}
}
/*@media only screen and (hover: none) and (pointer: coarse){
img {
  width: 100%;
}
}*/
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #AAAAAAAA;
}
.modal-body {
  padding: 32px;
  border-radius: 6px;
  background-color: white;
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Segoe UI';
  src: url('segoeui.ttf') format('truetype');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Segoe UI';
  src: url('segoeuib.ttf') format('truetype');
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Segoe UI';
  src: url('segoeuii.ttf') format('truetype');
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Segoe UI';
  src: url('segoeuil.ttf') format('truetype');
}
@font-face {
  font-weight: 350;
  font-style: normal;
  font-family: 'Segoe UI';
  src: url('segoeuisl.ttf') format('truetype');
}
@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'Segoe UI';
  src: url('segoeuiz.ttf') format('truetype');
}
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: 'Segoe UI';
  src: url('seguibl.ttf') format('truetype');
}
@font-face {
  font-weight: 900;
  font-style: italic;
  font-family: 'Segoe UI';
  src: url('seguibli.ttf') format('truetype');
}
@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'Segoe UI';
  src: url('seguili.ttf') format('truetype');
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Segoe UI';
  src: url('seguisb.ttf') format('truetype');
}
@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'Segoe UI';
  src: url('seguisbi.ttf') format('truetype');
}
@font-face {
  font-weight: 250;
  font-style: italic;
  font-family: 'Segoe UI';
  src: url('seguisli.ttf') format('truetype');
}
